{% extends 'base.html' %}

{% block title %}Grade Plotter{% endblock %}

{% block content %}
    <div class = "text-center mt-4">
        <h2>Subject Grade Plotter</h2>
    </div>
    <div class= "p-2 mt-4 text-center">
        <form action="{{url_for('plotgradebysubject')}}", method="POST">
            <input list="courses" name="course">
            <datalist id="courses">
                {% for sub in subjects %}
                <option value="{{sub}}">
                {% endfor %}
            </datalist>
            <input type="submit">
        </form>
    </div>
    {% if invalid is sameas true %}
        <div class = "text-center">
            <p>Invalid Subject Selection, please choose a valid subject and course number</p>
        </div>
    {% endif %}
    {% if graph is sameas true %}
        <div class="text-center">
            <img src = "data:image/png;base64, {{image_url}}">
        </div>
    {% endif %}
{% endblock %}